<!DOCTYPE html>
<html>
<head>
  <title>WorkoutApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA9vb2AAICAgD///8AGxsbAI6OjgDe3t4A/v7+ADg4OAAhISEAq6urAAoKCgDp6ekAgYGBAAAAAAAAAAAAAAAzMzMzAAAAADMzMzMAAAAAAzMwMwAAAAPQMwwzAAAAAzAGMDMAAAADM4AxAwAAAAMzcAQAAAAAAzMwAAcAAAADMzADMwAAAAOzMAczAAAAAyMwADMAAAADAzAAAwAAAANwAACTAAAAAzNQCjMAAAADMzMAMwAAAAMzMwAzAADgDwAA4A8AAOAPAADgDwAA4A8AAOAPAADgDwAA4A8AAOAPAADgDwAA4A8AAOAPAADgDwAA4A8AAOAPAADgDwAA" rel="icon" type="image/x-icon" />
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/header' %>
  <%= render 'shared/main' %>

</body>
</html>
